doc-scraper/venv/
doc-scraper/documentation_scraper/documentation_scraper/__pycache__/
doc-scraper/documentation_scraper/documentation_scraper/spiders/__pycache__
doc-scraper/documentation_scraper/docs.json
